<div class="container-fluid">
  <div style="color: blue;">
    <h1>{{ title }}</h1>
  </div>

  <div style="width: 300px;">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Your Message..."
          id="item"
          required
          [(ngModel)]="itemValue"
          name="item"
        />
      </div>

      <div class="btn-group">
        <button type="submit" class="btn btn-success">Send</button>
      </div>
    </form>
  </div>

  <h2>Messages</h2>
  <div class="col-md-3">
    <pre *ngFor="let item of items | async">{{ item.content }}</pre>
  </div>
</div>
